@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://example.com/MaterialIcons-Regular.eot);
    /* For IE6-8 */
    src: local('Material Icons'),
        local('MaterialIcons-Regular'),
        url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
        url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
        url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}

.page-content {
    line-height: normal !important;
}

.heading {
    font-size: 50px;
}

.text-center {
    text-align: center !important;
}

.text-right {
    text-align: right !important;
}

.text-left {
    text-align: left !important;
}

.table-styles {
    width: 100%;
}

.demo-card-wide.mdl-card {
    width: 100%;
}

.demo-card-wide>.mdl-card__title {
    color: rgb(94, 91, 91);
}

.demo-card-wide>.mdl-card__menu {
    color: #fff;
}

.description-text {
    font-size: 15px !important;
    font-weight: 300;
    line-height: normal;
    overflow: hidden;
    -webkit-transform-origin: 149px 48px;
    transform-origin: 149px 48px;
    margin: 0;
}

.mdl-card__supporting-text{
    width: 95% !important;
}

input{
    height: 25px;
    width: 100%;
    text-align: center;
}

textarea{
    height: 150px;
    width: 100% !important;
    text-align: left;
}